
  <div class="outlined order-summary">

    <div class="number-header">Number:</div>    
    <div class="date-header">Date:</div>    
    <div class="status-header">Status:</div>   
    <div class="total-row total-header">Total:</div>    

    <ng-container *ngIf="stubOnFetching; then stubValueContainers; else displayValueContainers">
    </ng-container>
    <ng-template #stubValueContainers>
      <div class="loadingSpinner order-summary-loader"></div>
    </ng-template>
    <ng-template #displayValueContainers>
      <div class="number-value">{{selectedOrder?.header.orderName}}</div>
      <div class="date-value">{{selectedOrder?.header.creationMomentString}}</div>
      <div class="status-bar">
        <div *ngIf="selectedOrder"
             [ngClass]="{
                      'order-status': true,
                      'order-inprogress': selectedOrder.header.status === orderStatusEnum.InProgress,
                      'order-completed': selectedOrder.header.status === orderStatusEnum.Complete
                      }">
        </div>
        <div *ngIf="selectedOrder"
             [ngClass]="{
                      'text-inprogress-title': selectedOrder.header.status === orderStatusEnum.InProgress,
                      'text-completed-title': selectedOrder.header.status === orderStatusEnum.Complete
                      }"></div>


      </div>
      <div class="total-row total-value">{{totalAmount()}}</div>
    </ng-template>
  </div>

