.wrapper-grid {
  display: grid;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  /*there is no text wich should wraps, else this properties should be overrided*/
  word-wrap: break-word;
  white-space: nowrap;
  --inprogress-color: darkmagenta;
  --inprogress-title: "In Progress";
  --completed-color: forestgreen;
  --completed-title: "Completed";
  --outline-width: 0.2em;
  --outline-style: solid;
  --outline-color: #000;
}


.wrapper-grid-layout {
  grid-template-columns: minmax(min-content,1fr) 3fr;
  grid-template-rows: 1.1fr 3fr;
}

.outlined {
  outline: var(--outline-width) var(--outline-style) var(--outline-color);  
}

.wrapper-grid-item {
  margin: calc(2px + 0.1em);
}

.order-status {
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.order-inprogress {
  background-color: var(--inprogress-color);
}

.order-completed {
  background-color: var(--completed-color);
}

.text-inprogress {
  color: var(--inprogress-color);
}

.text-inprogress-title::after {
  content: var(--inprogress-title);
}

.text-completed {
  color: var(--completed-color);
}

.text-completed-title::after {
  content: var(--completed-title);
}

.text-default {
}

.order-overview-container {
  grid-area: 1 / 1 / 3 / 2;
  display: grid; /*grid with single cell let stretch content conviniently (or I just like grids)*/
}

.order-summary-container {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
}

.order-details-container {
  grid-area: 2 / 2 / 3 / 3;
  display:grid; 
  grid-template-columns:minmax(min-content, auto);
  min-height:0;
}


@media (max-width: 448px) {

  .wrapper-grid-layout {
    grid-template-columns: minmax(min-content,1fr);
    grid-template-rows: 40% min-content 100%;
  }

  .order-overview-container {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
  }

  .order-summary-container {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
  }

  .order-details-container {
    grid-area: 3 / 1 / 4 / 2;
    display: grid; 
  }
}

@media(max-height: 350px)
{
  .wrapper-grid-layout {
    grid-template-rows: auto;
    grid-template-columns: repeat(3,minmax(min-content,1fr));
  }

  .order-overview-container {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
  }

  .order-summary-container {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
  }

  .order-details-container {
    grid-area: 1 / 3 / 2 / 4;
    display: grid;
    /*else right outline is not visible on overflow*/
    padding-right: var(--outline-width);
  }
}
